USE [master]
GO
/****** Object:  Database [BOOK]    Script Date: 2018/10/25 19:02:01 ******/
CREATE DATABASE [BOOK]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BOOK', FILENAME = N'f:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BOOK.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BOOK_log', FILENAME = N'f:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BOOK_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BOOK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BOOK]
GO
USE [BOOK]
GO
/****** Object:  Table [dbo].[sjk]    Script Date: 2018/10/25 19:02:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sjk](
	[prod_id] [nchar](10) NULL,
	[pname] [nchar](10) NULL,
	[price] [float] NULL,
	[stock] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[yhmm]    Script Date: 2018/10/25 19:02:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yhmm](
	[name] [nchar](10) NULL,
	[pass] [nchar](10) NULL,
	[money] [nchar](10) NULL
) ON [PRIMARY]
GO
USE [master]
GO
